body {
  font-family: "Montserrat", "Menlo", "Roboto", sans-serif;
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
}

textarea::placeholder{
  font-family: "Montserrat", "Menlo", "Roboto", sans-serif !important;
  font-weight: 400;

}

input::placeholder{
  font-family: "Montserrat", "Menlo", "Roboto", sans-serif !important;
  font-weight: 400;
}
